.Home .lander {
    margin:auto;
    width:50%;
    padding: 40px 0;
    text-align: center;
    background-color: rgb(202, 202, 202);
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        text-align: left;
        max-width: 320px;
    }
    }